.cards {
  width: 1300px;
  margin: 10px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #57c0e8;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.3rem;



}

.carsds {
  width: 600px;
  margin: 10px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #57c0e8;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.3rem;



}