.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#app {
  margin-top: 40px;
}

#progressInput {
  margin: 20px auto;
  width: 30%;
}

.circle-background,
.circle-progress {
  fill: none;
  stroke: aqua;
}

.circle-background {
  stroke: #ddd;
}

.circle-progress {
  
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text {
  font-size: 3em;
  font-weight: bold;
 
}

.circle-background1,
.circle-progress1 {
  fill: none;
  stroke: rgb(132, 159, 159);
}

.circle-background1 {
  stroke: #ddd;
}

.circle-background2,
.circle-progress2 {
  fill: none;
  stroke: rgb(104, 124, 235);
}

.circle-background2 {
  stroke: #ddd;
}

.circle-background3,
.circle-progress3 {
  fill: none;
  stroke: rgb(176, 216, 127);
}

.circle-background3 {
  stroke: #ddd;
}